<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.ExceptionHandling.Logging" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.ExceptionHandling.WCF" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.1" targetFramework="net45" />
  <package id="EntityFramework" version="4.3.0" />
  <package id="MefContrib" version="1.2.2.1" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" />
  <package id="Prism.UnityExtensions" version="4.1.0.0" />
  <package id="Unity" version="2.1.505.0" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net45" />
</packages>