<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

	<connectionStrings>
		<remove name="LocalSqlServer" />
		<add name="FeaturesEntityStorage" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Server=tcp:v1dti6149t.database.windows.net,1433;Database=DragonSpark_Features_Storage;User ID=DragonSparkFeaturesAccess@v1dti6149t;Password='hrd7wcefyXKov$g;fq,pqm2tmsFT7_&amp;#$!~&lt;;mxduslbaw%b';Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DragonSpark.Application.Presentation.Entity.Security.AuthenticationStatusMonitor.LoginUri" value="https://dragonspark.accesscontrol.windows.net:443/v2/wsfederation?wa=wsignin1.0&amp;wtrealm=http%3a%2f%2fframework.dragonspark.us%2f" />
	</appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
	<microsoft.identityModel>
		<service>
			<audienceUris xdt:Transform="Replace">
				<add value="http://framework.dragonspark.us/" />
			</audienceUris>
			<federatedAuthentication>
				<wsFederation xdt:Transform="SetAttributes" xdt:Locator="Match(issuer)" issuer="https://dragonspark.accesscontrol.windows.net/v2/wsfederation" realm="http://framework.dragonspark.us/" />
			</federatedAuthentication>
		</service>
	</microsoft.identityModel>
</configuration>