@using DragonSpark.Compose
@using JetBrains.Annotations
@inherits EditorComponent

<DialogContext T="object" @ref="_confirm" Title="@Title" Context="parameter">
    <Confirm Accept="@Start.A.Callback(Exit).Using(ActualReceiver).Handle(Exceptions).UpdateActivity()"
             PrimaryClass="primary button fit"
             SecondaryClass="button fit"
             ChildContent="@ConfirmContent"
    />
</DialogContext>

@ChildContent?.Invoke(EventCallback.Factory.Create(this, Confirm))

@code {
#nullable enable

    [UsedImplicitly]
    DialogContext<object> _confirm = default!;

    [Parameter]
    public string Title { get; set; } = "Changes Detected";

    [Parameter]
    public RenderFragment<EventCallback>? ChildContent { get; set; }

    [Parameter]
    public RenderFragment ConfirmContent { get; set; } = @<p>Changes have been detected on this page and will be lost if you leave.  Press OK to leave, press Cancel to stay on this page.</p>;

    [Parameter]
    public object? Receiver { get; set; } = default!;

    [CascadingParameter]
    IActivityReceiver DefaultReceiver { get; set; } = default!;

    object ActualReceiver => Receiver ?? DefaultReceiver;

    Task Confirm() => HasChanges ? OnNavigationCanceled() : Exit();

    protected override Task OnNavigationCanceled() => Task.Delay(25).ContinueWith(x => _confirm.Open(default!));
#nullable restore
}
