@using DragonSpark.Model
@using DragonSpark.Model.Results

@inherits EditorComponent

<FieldModelMonitor Changed="@OnUpdated" />

<ConfirmResultContext T="None" @ref="_confirm" Title="@Title" PrimaryClass="primary button fit" SecondaryClass="button fit">
    @ChildContent
</ConfirmResultContext>

@if (_enabled)
{
    <BrowserUnloadMonitor />
}

@code
{
    readonly Switch            _enabled = new();
    ConfirmResultContext<None> _confirm = null!;

    [Parameter]
	public string Title { get; set; } = "Changes Detected";

	[Parameter]
	public RenderFragment ChildContent { get; set; }
		= @<p>Changes have been detected on this page and will be lost if you leave.  Press OK to leave, press Cancel to stay on this page.</p>;

	[Parameter]
	public bool Enabled { get; set; } = true;

    [Parameter]
    public bool EnableBrowserMonitor { get; set; } = true;

    [Parameter]
    public EventCallback Updated { get; set; }

	protected override async ValueTask<bool> Allow(LocationChangingContext parameter)
        => !Enabled || await base.Allow(parameter) || await _confirm.Confirm(None.Default) == DialogResult.Ok;

    protected override bool HasChanges() => Enabled && base.HasChanges();

    void OnUpdated()
    {
        _enabled.Execute(EnableBrowserMonitor && HasChanges());
    }
}