<div>
<div data-bind="widget: 'operations'"></div>
	<div class="header shellrow">
		<table style="width: 100%">
			<tr>
				<td style="width: 125px; padding: 20px">
					<a data-bind="attr: { href: navigation.default().hash }">
						<img data-bind="attr: { src: configuration().Logo }" style="width: 100%" />
					</a>
				</td>
				<td class="navbar">
					<div class="navbar-inner">
						<div data-bind="compose: { model: navigation }"></div>
					</div>
				</td>
				<td style="width: 25px">
					<div class="loader pull-right" data-bind="css: { active: navigation.router.isNavigating }">
						<i class="icon-spinner icon-2x icon-spin"></i>
					</div>
				</td>
				<td style="width: 125px; padding: 10px">
					<div class="pull-right" data-bind="widget: 'identity'"></div>
				</td>
			</tr>
		</table>
	</div>
	<div class="body shellrow scroll-y">
		<div class="container-fluid page-host" style="height: 100%; overflow-y: auto; overflow-x: hidden; padding: 0">
			<!--ko router: { transition:'entrance', cacheViews:false }-->
			<!--/ko-->
		</div>
	</div>
	<div class="footer shellrow">
		<div style="border: 1px solid black; background: white; margin-left: -1px; font: 8pt verdana; width: 100%">
			<div style="padding: 15px 10px; margin: 0; float: left">
				<a href="mailto:contact@dragonspark.us" style="font-weight: bold">Contact</a> |
		
				<a href="http://dragonspark.codeplex.com" style="font-weight: bold">Source Code</a>
			</div>
			<div data-bind="widget: 'copyright'"></div>
		</div>
	</div>
</div>
