<section style="padding: 20px">
    <h2>Welcome</h2>
    <blockquote>Welcome to The DragonSpark Featureset Application, hosted on <a href="http://windows.azure.com" target="_blank">Microsoft's Azure Servers</a>.</blockquote>
	<h3>Features</h3>
	Here are a few of the key development friction points that The DragonSpark Application Framework addresses:
	<ul>
		<li>Application Initialization</li>
		<li><strong>Xaml-based</strong> Application Configuration (IoC and WebApi Controller Configuration)</li>
		<li>Operation Management and User Experience</li>
		<li>Exception Handling, Reporting, and User Experience</li>
		<li>Authentication and Claims Transformation (from external identity providers)</li>
		<li>Authorization</li>
		<li>Navigation</li>
		<li>User Profile Initialization and Management</li>
		<li>Xaml-based Entity Installation (Versioned Database seeding -- no more Sql Scripts)</li>	
		<li>Entity Management</li>
	</ul>
	
	<h3>Technologies</h3>
	We are proud to make use of the following client-side technologies:
	<ul>
		<li><a href="https://durandaljs.com" target="_blank">Durandal</a></li>
		<li><a href="http://www.knockoutjs.com" target="_blank">Knockout 3.0</a></li>
		<li><a href="http://www.asp.net/signalr" target="_blank">SignalR 2.0</a></li>
		<li><a href="http://www.breezejs.com" target="_blank">BreezeJS</a></li>
	</ul>
	
	And the following server-side technologies:
	<ul>
		<li><strong><a href="http://en.wikipedia.org/wiki/Extensible_Application_Markup_Language" target="_blank">eXtensible Application Markup Language (XAML)</a></strong> (On the server?  Yes.  On the server. <a href="https://github.com/DragonSpark/Framework/blob/master/DragonSpark.Application.Server/Configuration/Application.xaml" target="_blank">Here's an example.</a>)</li>
		<li><a href="http://www.asp.net/mvc" target="_blank">ASP.NET MVC 5.0</a></li>
		<li><a href="http://msdn.microsoft.com/en-us/data/ee712907#codefirst" target="_blank">Entity Framework 6.0 Code First</a></li>
		<li><a href="http://unity.codeplex.com/" target="_blank">Microsoft Patterns and Practices' Unity for Service Location and IoC</a></li>
		<li><a href="http://entlib.codeplex.com/" target="_blank">Microsoft Patterns and Practices' Enterprise Library 6.0</a></li>
		<li><a href="http://entlib.codeplex.com/wikipage?title=EntLib6" target="_blank">Enterprise Library Semantic Logging Application Block</a></li>
		<li><a href="http://windows.azure.com" target="_blank">Windows Azure</a></li>
	</ul>
</section>