<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="portable-net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="portable-net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SmartReferences" version="0.8.6" targetFramework="portable-net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>