<section>
    <h2>Welcome</h2>
    <blockquote>Welcome to The DragonSpark Featureset Application, hosted on <a href="http://windows.azure.com" target="_blank">Microsoft's Azure Servers</a>.</blockquote>
	<h3>Features</h3>
	Here are a few of the key friction points that The DragonSpark Application Framework addresses:
	<ul>
		<li>Application Initialization</li>
		<li>Application Configuration (Xaml-Driven IoC)</li>
		<li>Operation Management and User Experience</li>
		<li>Exception Handling, Reporting and User Experience</li>
		<li>Authentication and Claims Transformation (from external identity providers)</li>
		<li>Authorization</li>
		<li>Navigation</li>
		<li>User Profile Initialization and Management</li>
		<li>Entity Installation (Versioned Xaml-Driven Database seeding -- no more Sql Scripts)</li>	
		<li>Entity Management</li>
	</ul>
	
	<h3>Technologies</h3>
	We are proud to make use of the following technologies:
	<ul>
		<li style="font-weight: bold"><a href="https://github.com/BlueSpire/Durandal" target="_blank">Durandal</a></li>
		<li><a href="http://www.jqwidgets.com/" target="_blank">jQuery Widgets</a></li>
		<li><a href="http://social.msdn.microsoft.com/Forums/eu/adonetefx/threads" target="_blank">Entity Framework CodeFirst</a></li>
		<li><a href="http://unity.codeplex.com/" target="_blank">Microsoft Patterns and Practices' Unity for Service Location and IoC</a></li>
		<li><a href="http://entlib.codeplex.com/" target="_blank">Microsoft Patterns and Practices' Enterprise Library</a></li>
		<li><a href="http://windows.azure.com" target="_blank">Windows Azure</a></li>
		<li><a href="http://msdn.microsoft.com/en-us/library/windowsazure/gg429786.aspx" target="_blank">Windows Azure Access Control 2.0</a></li>
	</ul>
</section>