<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="modules" type="DragonSpark.Windows.Modularity.ModulesConfigurationSection, DragonSpark.Windows" />
	</configSections>
	<modules>
		<module assemblyFile=".\MocksModules\MockModuleA.dll" moduleType="DragonSpark.Windows.Modularity.MockModuleA" moduleName="MockModuleA">
			<dependencies>
				<dependency moduleName="HelloThere" />
			</dependencies>
		</module>
	</modules>
</configuration>