@model DragonSpark.ApplicationDetails
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>@Model.Title: Authentication</title>
	<script type="text/javascript">
		try {
			opener.window.$ds.refresh();
			window.close();
		}
		catch (e) {
			alert("There was a problem refreshing authentication status in the application.");
		}
	</script>
</head>
<body>
</body>
</html>
