@using DragonSpark.Presentation.Components.Content.Templates
<div class="@($"d-{(Enabled ? "none" : "block")}")">
    @ChildContent
</div>

@if (Enabled)
{
    @LoadingTemplate
}

@code {

    [Parameter]
    public bool Enabled { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment LoadingTemplate { get; set; } = DefaultLoadingTemplate.Default;
}
