@using DragonSpark.Presentation.Compose
@using Majorsoft.Blazor.Components.Common.JsInterop.Focus
@using System.Diagnostics
@using DragonSpark.Compose

@inherits DragonSpark.Presentation.Components.ComponentBase

@implements IActivityReceiver
@implements IAsyncDisposable

@inject IFocusHandler Focus

<div class="@(Active ? ActiveStyle : null)">
	<fieldset disabled="@Active">
		<CascadingValue TValue="IActivityReceiver" Value="@this">
			@ChildContent(ActualReceiver)
		</CascadingValue>
	</fieldset>
</div>

@code
{
	bool Active { get; set; }

	[Parameter]
	public string ActiveStyle { get; set; } = "dragonspark-activity-active";

	[Parameter]
	public object? Receiver { get; set; }

	[Parameter]
	public RenderFragment<object> ChildContent { get; set; } = default!;

	object ActualReceiver => Receiver ?? this;

	protected override void OnParametersSet()
	{
		Update();

		base.OnParametersSet();
	}

	// ReSharper disable once FlagArgument
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		Allowed = true;
		if (!firstRender && Restore)
		{
			Restore = false;
			await Focus.RestoreStoredElementFocusAsync();
		}
	}

	bool Allowed { get; set; }

	bool Restore { get; set; }

	bool Update()
	{
		var active = IsActive.Default.Get(ActualReceiver);
		var result = active != Active;
		Active = active;
		return result;
	}

	public async ValueTask Start()
	{
		if (Allowed)
		{
			await Focus.StoreFocusedElementAsync().ConfigureAwait(false);
		}
		if (Update())
		{
			await RefreshState().ConfigureAwait(false);
		}
	}

	public async ValueTask Complete()
	{
		Restore = Update();
		if (Restore)
		{
			await RefreshState().ConfigureAwait(false);
		}
	}

	public async ValueTask DisposeAsync()
	{
		try
		{
			await Focus.DisposeAsync().ConfigureAwait(false);
		}
		catch (JSDisconnectedException) {}
	}

}