<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net451" />
  <package id="ModernUI.WPF" version="1.0.6" targetFramework="net45" />
  <package id="PostSharp" version="4.1.8-beta" targetFramework="net451" />
  <package id="PostSharp.Patterns.Common" version="4.1.8-beta" targetFramework="net451" />
  <package id="PostSharp.Patterns.Threading" version="4.1.8-beta" targetFramework="net451" />
  <package id="SmartReferences" version="0.8.6" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
  <package id="Xamarin.Forms" version="1.4.0.6341" targetFramework="net451" />
</packages>