@using DragonSpark.Presentation.Components.Content.Templates
@implements DragonSpark.Presentation.Browser.IElementReference
<div @ref="@_element" class="w-100">
	@Template
</div>

<ResizeComponent Element="@this" Callback="@OnUpdate" />

@code {
	ElementReference? _element;

	[Parameter]
	public ushort Target { get; set; } = 576;

	[Parameter]
	public RenderFragment MinimalTemplate { get; set; } = default!;

	[Parameter]
	public RenderFragment ChildContent { get; set; } = default!;

	[Parameter]
	public RenderFragment LoadingTemplate { get; set; } = DefaultLoadingTemplate.Default;

	RenderFragment Template { get; set; } = default!;

	bool? DefaultView
	{
		set
		{
			if (_defaultView != value)
			{
				_defaultView = value;
				Template = _defaultView != null ? _defaultView.Value ? ChildContent : MinimalTemplate : LoadingTemplate;
				StateHasChanged();
			}
		}
	}	bool? _defaultView;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Template = LoadingTemplate;
	}


	Task OnUpdate(ushort parameter)
	{
		DefaultView = parameter > Target;
		return Task.CompletedTask;
	}

	public ElementReference? Get() => _element;
}