<div data-bind="widget: 'operations'"></div>

<table style="width: 100%; height: 100%">
	<tr>
		<td align="center" valign="middle">
			<button data-bind="operation: {
				title: 'Executing Operations... Please Wait...',
				allowCancel: false,
				closeOnCompletion: false,
				anyExceptionIsFatal: false,
				items: [
					{ body: immediate, title: 'This is a viewmodel immediate operation (See Console Log for output).' },
					{ body: operation, title: 'This is a viewmodel indeterminate operation (See Console Log for output).' },
					{ body: immediate, title: 'This is a viewmodel immediate operation (See Console Log for output).' },
					{ path: 'commands/wait', title: 'This is loaded indeterminate command operation (See Console Log for output).' },
					{ path: 'commands/alert', title: 'This is loaded immediate command operation (See Console Log for output).' },
					{ body: throwException, title: 'Throwing Exception...' }
				]}">Perform Multi-step Operations with Status</button>
			<p style="padding: 10px">
			[Clearly communicate to the user what is happening in your application with something a little more useful than some obscure spinning circle.]
			</p>
		</td>
	</tr>
</table>