<div @onkeyup="LogKeyPressed" @attributes="@AdditionalAttributes">
    @if (EnableFocus)
    {
        <input id="@Identifier" class="@FocusClass" inputmode="none" />
    }

    @ChildContent

    @*@if (EnableFocus)
    {
        <Evaluate>document.getElementById("@Identifier").focus();</Evaluate>
    }*@
</div>

@code {
    [Parameter]
    public bool EnableFocus { get; set; } = true;

    [Parameter]
    public string Identifier { get; set; } = UniqueIdentifiers.Default.Get();

    [Parameter]
    public string FocusClass { get; set; } = "dragonspark-input-hidden";

    [Parameter]
    public EventCallback Escaped { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = default!;

    Task LogKeyPressed(KeyboardEventArgs eventArgs)
    {
        return eventArgs.Code switch
               {
               "Escape" => Escaped.Invoke(),
               _ => Task.CompletedTask
               };
    }
}