@using Microsoft.EntityFrameworkCore
@using JetBrains.Annotations
@using AsyncUtilities
@typeparam TItem

@Fragment

@code
{
    RenderFragment? Fragment { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        Fragment ??= await DetermineFragment();
    }

    async Task<RenderFragment> DetermineFragment()
    {
        Fragment = LoadingTemplate; // Re-entry is occurring for some reason.

        var result = Content != null ?
                         await Query.Any.Get(Content)
                             ? ChildContent(Content) : NoElementsFoundTemplate
                         : NotAssignedTemplate;
        return result;
    }

    [Parameter]
    public EntityQuery<TItem> Query { get; set; } = DurableEntityQuery<TItem>.Default;

    [Parameter]
    public IQueryable<TItem>? Content
    {
        get => _content;
        set
        {
            if (_content != value)
            {
                Fragment = null;
                _content = value;
            }
        }
    }

    IQueryable<TItem>? _content;

    [Parameter]
    public RenderFragment<IQueryable<TItem>> ChildContent { get; set; } = default!;

    [Parameter]
    public RenderFragment LoadingTemplate { get; set; } = DefaultLoadingTemplate.Default;

    [Parameter]
    public RenderFragment NoElementsFoundTemplate { get; set; } = @<p>No elements found for this view's content.</p>;

    [Parameter]
    public RenderFragment NotAssignedTemplate { get; set; } = @<p>No instance was found for this view's content.</p>;
}