<div class="@(Active ? ActiveStyle : null)">
    <fieldset disabled="@Active">
        @ChildContent
    </fieldset>
</div>

@code
{
    bool Active { get; set; }

    [Parameter]
    public string ActiveStyle { get; set; } = "dragonspark-activity-active";

    [Parameter]
    public IComponent Context { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    protected override void OnParametersSet()
    {
        Active = IsActive.Default.Get(Context);
        base.OnParametersSet();
    }
}