@using DragonSpark.Application.Runtime
@inject IJSRuntime Runtime

<section id="@Identifier">
    @ChildContent
</section>


@code {

    // ReSharper disable once FlagArgument
    protected override Task OnAfterRenderAsync(bool firstRender)
        => Enabled && firstRender ? Runtime.InvokeAsync<bool>("scrollToElementId", Identifier).AsTask() : base.OnAfterRenderAsync(false);

    [Parameter]
    public string Identifier { get; set; } = IdentifyingText.Default.Get();

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

}