@using DragonSpark.Compose
@using DragonSpark.Model.Results
@inject IJSRuntime Runtime

<section id="@Identifier" @attributes="@AdditionalAttributes">
	@ChildContent
</section>

@code {

	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		var enabled = Enabled && (Signal?.Down() ?? firstRender);
		var result  = enabled ? Runtime.InvokeAsync<bool>("scrollToElementId", Identifier).AsTask() : base.OnAfterRenderAsync(false);
		return result;
	}

	[Parameter]
	public Switch? Signal { get; set; }

	[Parameter]
	public string Identifier { get; set; } = UniqueIdentifiers.Default.Get();

    [Parameter]
    public bool Enabled
    {
        get;
        set
        {
            if (field != value)
            {
                field = value;
                Signal?.Up();
            }
        }
    } = true;

    [Parameter]
	public RenderFragment ChildContent { get; set; } = null!;

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object?> AdditionalAttributes { get; set; } = null!;
}