@inject IJSRuntime Runtime

<section id="@Identifier">
    @ChildContent
</section>


@code {

    // ReSharper disable once FlagArgument
    protected override Task OnAfterRenderAsync(bool firstRender)
        => firstRender ? Runtime.InvokeAsync<bool>("scrollToElementId", Identifier).AsTask() : base.OnAfterRenderAsync(false);

    [Parameter]
    public Guid Identifier { get; set; } = Guid.NewGuid();

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

}