@using DragonSpark.Application.Runtime
@inject IJSRuntime Runtime

<section id="@Identifier" @attributes="AdditionalAttributes">
	@ChildContent
</section>


@code {

	bool _update;

	// ReSharper disable once FlagArgument
	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		var result = Enabled && (firstRender || _update) ? Runtime.InvokeAsync<bool>("scrollToElementId", Identifier).AsTask() : base.OnAfterRenderAsync(false);
		_update = false;
		return result;
	}

	[Parameter]
	public string Identifier { get; set; } = IdentifyingText.Default.Get();

	[Parameter]
	public bool Enabled
	{
		get => _enabled;
		set
		{
			if (_enabled != value)
			{
				_enabled = value;
				_update = true;
			}
		}
	}	bool _enabled = default!;

	[Parameter]
	public RenderFragment ChildContent { get; set; } = default!;

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object> AdditionalAttributes { get; set; } = default!;

}