<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="portable-net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SmartReferences" version="0.8.6" targetFramework="portable-net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="1.4.0.6341" targetFramework="portable-net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="xcc" version="1.0.7" targetFramework="portable-net45+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>