@* ReSharper disable ArrangeRedundantParentheses *@
@using DragonSpark.Compose
@using DragonSpark.Reflection.Collections
@using JetBrains.Annotations

<fieldset disabled="@IsActive.Default.Get(Context)">
    @ChildContent

    @if (Form != null)
    {
        <RadzenTextBox Name="Placeholder" Visible="false" ValueExpression="@(() => Property)"/>
        <label>
            <ActiveValidation Context="@Context" Component="Placeholder" Popup="false" Style="position: absolute"/>
        </label>
    }
</fieldset>


@code
{
    [Parameter]
    public string Property { get; set; } = default!;

    [Parameter]
    public IComponent Context { get; set; } = default!;

    [CascadingParameter, UsedImplicitly]
    IRadzenForm Form { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Property ??= (Form != null ? InnerType.Default.Get(Form.GetType())
                                              .GetProperties()
                                              .First(x => x.PropertyType == A.Type<string>())
                                              .Name : string.Empty);
        Context ??= Form as IComponent ?? throw new InvalidOperationException("No valid context found for ActivityContainer");
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}