@using JetBrains.Annotations
@typeparam TItem

<Form @ref="_form" TItem="Instance<TItem>" Data="Source" Submit="OnSubmit">
    <EditOperationContext @ref="_operations" ChildContent="@ChildContent(Source)" />
</Form>

@code {

    [UsedImplicitly]
    EditOperationContext _operations = default!;

    [UsedImplicitly]
    Form<Instance<TItem>> _form = default!;

    [Parameter]
    public RenderFragment<Instance<TItem>> ChildContent { get; set; } = default!;

    [Parameter]
    public Instance<TItem> Source { get; set; } = new Instance<TItem>();

    [Parameter]
    public EventCallback<Instance<TItem>> Submit { get; set; }

    [UsedImplicitly]
    async Task OnSubmit(Instance<TItem> parameter)
    {
        var valid = await _operations.Validate();
        if (valid)
        {
            await Submit.InvokeAsync(parameter);
        }
        else
        {
            await _form.InvalidSubmit.InvokeAsync(new FormInvalidSubmitEventArgs
            {
                Errors = _form.EditContext.GetValidationMessages()
            });
        }
    }
}