@using DragonSpark.Server.ClientHosting
@model DragonSpark.ApplicationDetails

<!DOCTYPE html>
<html lang="en" ng-app="Application">
<head>
	<title>@Model.Title</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="apple-touch-startup-image" href="~/Images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
	<link rel="apple-touch-startup-image" href="~/Images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
	<link rel="apple-touch-icon" href="~/Images/icon.png" />

	@*@Styles.Render( "~/DragonSpark/Styles" )*@
</head>
	<body>
		<img src="~/Images/Logo.png" />

		<ul class="menu">
			<li><a href="~/view1">view1</a></li>
			<li><a href="~/view2">view2</a></li>
		</ul>

		<div ng-view></div>

		<div>Angular seed app: v<span app-version></span></div>
		
		@Scripts.Render( VirtualPathProvider.Application )
	</body>
</html>